body{
    margin: 0px;
    border: 0px;
}
div{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 45%;
}
#anh
    {
        position: absolute;
        border: 50px 50px 50px 50px;
    }
    #anh:hover{
        animation: abc 3s infinite;
    }
@keyframes abc{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
