.container-fix
{
    width: 600px;
}
.news-item 
{
    border: 1px solid #ccc;
    padding: 10px;
}
.news-item .image
{
    width: 100px;
    float: left;
}
.news-item .info
{
    width: calc(100% - 100px);
    padding-left: 10px;
    float: left;
}
.news-item .infor .title 
{
    color: #333;

}
.news-item .info .description
{
    font-size: 14px;
    line-height: 25px;
}

.news-item.skin-2 .image 
{
    width: 100%;
    float: none;
    height: 100px;
}
.news-item.skin-2 .info
{
    text-align: center;
    width: 100%;
    float: none;
}
.news-item.skin-3 .image 
{
    width: 100px;
    float: right;
}
.news-item.skin-3 .info
{
    width: calc(100% - 100px);
    padding-left: 10px;
    float: right;
}